{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'onboarding/styles/onboarding.css' %}">
{% endblock %}

{% block content %}
    <div class="preloader">
        <div class="preloader__inner">
            <div class="preloader__items">
                <div class="preloader__item">
                    <span class="mark__positive mark"></span>
                    <p>Excited</p>
                </div>
                <div class="preloader__item">
                    <span class="mark__negative mark"></span>
                    <p>Angry</p>
                </div>
                <div class="preloader__item">
                    <span class="mark__positive mark"></span>
                    <p>Nostalgic</p>
                </div>
                <div class="preloader__item">
                    <span class="mark__negative mark"></span>
                    <p>Jealous</p>
                </div>
            </div>
            <div class="preloader__inner-light"></div>
            <div class="preloader__inner-green"></div>
            <div class="preloader__inner-red"></div>
        </div>
    </div>
    <div class="container">
        <section class="content">
            <div class="row hero__content">
                <div class="col-sm-12 col-lg-7 hero__content-text">
                    <h1 class="col-sm-12 col-lg-10 section__title">Where
                        <span class="text-times-new-roman">Honest Emotions</span>
                        live temporarily
                    </h1>
                    <p class="col-12 col-sm-12 col-md-7 col-lg-7 section__subtitle">
                        Share your thoughts <span class="text-times-new-roman">anonymously</span>, see how others feel,
                        and let it all go — posts vanish after 24 hours.
                    </p>
                    <div class="d-flex justify-content-center
                     justify-content-sm-center
                     justify-content-md-start
                     align-items-center flex-wrap">
                        <div>
                            <a href="{% url 'step-one' %}" class="cta-button pointer-events-disable" style="margin-right: 14px;">
                                <span>Share emotion</span>
                                <div class="mark-group">
                                    <div class="mark mark__positive"></div>
                                    <div class="mark mark__negative"></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a class="button-link button-link-fixed-height pointer-events-disable" href="{% url 'main:emotions' %}">Emotion
                                Timeline</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5 scroller">
                    <ul class="emotions-list scroller__inner">
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Alex</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Hopeful</span>
                            </p>
                            <p class="item__description">
                                Looking forward to a weekend getaway.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Anonymous user</p>
                                <div class="mark mark__negative"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Lonely</span>
                            </p>
                            <p class="item__description">
                                Chose not to share.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Jamie</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Excited</span>
                            </p>
                            <p class="item__description">
                                Just got promoted at work!
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Taylor</p>
                                <div class="mark mark__negative"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Frustrated</span>
                            </p>
                            <p class="item__description">
                                Chose not to share.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Riley</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Grateful</span>
                            </p>
                            <p class="item__description">
                                Had a lovely dinner with friends tonight.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Alex</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Hopeful</span>
                            </p>
                            <p class="item__description">
                                Looking forward to a weekend getaway.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Anonymous user</p>
                                <div class="mark mark__negative"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Lonely</span>
                            </p>
                            <p class="item__description">
                                Chose not to share.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Jamie</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Excited</span>
                            </p>
                            <p class="item__description">
                                Just got promoted at work!
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Taylor</p>
                                <div class="mark mark__negative"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Frustrated</span>
                            </p>
                            <p class="item__description">
                                Chose not to share.
                            </p>
                        </li>
                        <li class="emotions-list__item">
                            <div class="item__header">
                                <p class="item__name">Riley</p>
                                <div class="mark mark__positive"></div>
                            </div>
                            <p class="item__emotion">
                                I'm feeling <span class="text-times-new-roman">Grateful</span>
                            </p>
                            <p class="item__description">
                                Had a lovely dinner with friends tonight.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'onboarding/js/index.js' %}"></script>
{% endblock %}