{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'onboarding/styles/onboarding.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="content-section section-three">
            <div>
                <h1 class="section__title col-12 col-sm-12 col-md-10 col-lg-8">
                    Would you like to share a reason of your emotions?
                </h1>
                <p class="section__subtitle">
                    Reflect on your feelings and share the reason behind them.
                </p>
                <form method="POST" class="form__steps">
                    {% csrf_token %}
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <label for="user_name" class="form-label"></label>
                        <input class="form-control name__input pointer-events-disable" id="user_name" name="user_name"
                               placeholder="Name is optional">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 text__input-wrapper">
                        <label for="emotion_reason" class="form-label"></label>
                        <textarea class="form-control text__input pointer-events-disable" id="emotion_reason" rows="3" name="emotion_reason"
                                  placeholder="Reason is optional" onkeyup="validateInput()" maxlength="256"></textarea>
                        <span id="words_count" class="d-none"><span id="textcount"></span>/256</span>
                    </div>
                    {% if error_message %}
                        <div class="col-sm-12 col-md-12 col-lg-5 alert alert-danger mt-3">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <div class="button__group">
                        <button type="submit" class="cta-button pointer-events-disable">
                            <span>Share</span>
                            <span class="mark-group">
                            <span class="mark mark__positive"></span>
                            <span class="mark mark__negative"></span>
                        </span>
                        </button>
                        <div>
                            <a class="button-link button-link-fixed-height-steps pointer-events-disable" href="{% url 'step-two' energy_choice_slug %}">Back</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <ul class="step-progress-bar-items">
                    <li class="step-progress-bar-item">
                        <span class="step-progress-bar step-active"></span>
                    </li>
                    <li class="step-progress-bar-item">
                        <span class="step-progress-bar step-active"></span>
                    </li>
                    <li class="step-progress-bar-item">
                        <span class="step-progress-bar"></span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'onboarding/js/step-three.js' %}"></script>
{% endblock %}