{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block styles %}{% endblock %}#}
{#{% block title %}{% endblock %}#}
{##}
{#{% block navbar_extras %}#}
{#    <a href="{% url 'step-one' %}" class="cta-button">#}
{#        <span>Share emotion</span>#}
{#        <div class="mark-group">#}
{#            <div class="mark mark__positive"></div>#}
{#            <div class="mark mark__negative"></div>#}
{#        </div>#}
{#    </a>#}
{#{% endblock %}#}
{##}
{#{% block content %}{% endblock %}#}
{##}
{#{% block js %}{% endblock %}#}